
.wz-view{
    
    background: #F6F6F6;
    
}

.wz-view-menu{
    height: 39px;
    box-shadow: 0 1px rgba( 255, 255, 255, 0.1 ) inset;
    background-image: -webkit-linear-gradient(bottom, #d6d6d6, #fff);
    background-image: -moz-linear-gradient(bottom, #d6d6d6, #fff);
    background-image: -o-linear-gradient(bottom, #d6d6d6, #fff);
    background-image: linear-gradient(to top, #d6d6d6, #fff);
}

.wz-view-menu-group:last-child{
    padding: 10px 20px 6px;
}

.contact-title{

    float: left;
    font-size: 14px;
    color: #666;
    margin-top: 15px;
    margin-left: 40px;

}

.contact-content{

    float: left;
    width: 485px;
    padding: 35px 40px;

}

.contact-text{

    float: left;
    width: 485px;
    font-size: 15px;
    color: #666;
    text-align: justify;
    margin-bottom: 15px;

}

.content-subject-text{

    float: left;
    width: 455px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    color: #5D5D5D;
    font-size: 14px;
    padding: 6px 15px;
    margin-bottom: 15px;
    line-height: 15px;
    box-shadow: 0 1px rgba( 0, 0, 0, 0.05 ) inset;

}

.content-subject-text:focus{

    border: 1px solid #7EBE30;

}

.content-description-text{

    float: left;
    width: 455px;
    height: 150px;
    line-height: 16px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    color: #5D5D5D;
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px rgba( 0, 0, 0, 0.05 ) inset;

}

.content-description-text:focus{

    border: 1px solid #7EBE30;

}

.content-button{

    padding: 8px 15px;
    float: right;
    border-radius: 3px;
    border: 1px solid #1B961B;
    box-shadow: inset 0 1px rgba( 255, 255, 255, 0.3 );
    text-align: center;

    background-image: -moz-linear-gradient( bottom, #4E9C21, #7EBE30 ); 
    background-image: -webkit-linear-gradient( bottom, #4E9C21, #7EBE30 );
    background-image: -o-linear-gradient( bottom, #4E9C21, #7EBE30 );
    background-image: linear-gradient( to top, #4E9C21, #7EBE30 );

}

.content-button span{
    font-size: 15px;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.content-button:hover{

    background-image: -moz-linear-gradient( bottom, #56AB25, #86CA33 ); 
    background-image: -webkit-linear-gradient( bottom, #56AB25, #86CA33 );
    background-image: -o-linear-gradient( bottom, #56AB25, #86CA33 );
    background-image: linear-gradient( to top, #56AB25, #86CA33 );

}

.content-button:active{

    box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.2 );

    background-image: -moz-linear-gradient( bottom, #609125, #448A1C ); 
    background-image: -webkit-linear-gradient( bottom, #609125, #448A1C );
    background-image: -o-linear-gradient( bottom, #609125, #448A1C );
    background-image: linear-gradient( to top, #609125, #448A1C );

}

.contact-info{

    margin-bottom: 25px;

}
